.container{
    background-color: var(--secondary-gray);
    width: 100%;
    height: 100%;
    padding:20px;
    display: inline-flex;
    justify-content: center;    
}
.summary{
    padding: 20px;
    height: 100px;
    background-color: var(--primary-white);
    border-radius: 10px;
}
.item{
    display: block;
    margin-bottom: 10px;
}