:root{
    --primary-orange-alt:#FCAB3F;
    --primary-orange:#FDC963;
    --primary-black:#4D4D4D;
    --primary-white:#FFFFFF;

    --secondary-green:#A1D2CE;
    --secondary-red:#f49897;
    --secondary-gray:#E4E4E4;
    --secondary-pink:#FEF2F1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gotham', sans-serif;
}